<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>
    android crash analysis
  </title>
  <link rel="shortcut icon" href="/static/img/mt_logo.png">
  <meta charset="UTF-8">
  <link href="/static/css/application-cb3ce58832cb61fbc884990e151cb6c6.css" media="all" rel="stylesheet" type="text/css">
  <!--报表-->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
          //点击筛选
          function filter(id,option){
            $("#"+id).val(option)
            $("form").submit()
          }
          var data_date = new google.visualization.DataTable();
          data_date.addColumn('string','Date')
          data_date.addColumn('number','Crash')
          data_date.addRows([
            {{range .DateStats}}
            ['{{.Name}}',{{.Count}}],
            {{end}}
            ]);

          var options_date = {
            title: 'crash trend',
            pointSize: '5'
          };

          var chart_date = new google.visualization.LineChart(document.getElementById('chart_div'));
          function dateSelectHandler() {
            var selectedItem = chart_date.getSelection()[0];
            if (selectedItem) {
              var topping = data_date.getValue(selectedItem.row, 0);
              filter('project_date',topping)

            }
          }
          google.visualization.events.addListener(chart_date, 'select', dateSelectHandler);  
          chart_date.draw(data_date, options_date);
          //version
          var data_version = google.visualization.arrayToDataTable([
            ['Version','Crash']
            {{range .VersionStats}}
            ,['{{.Name}}',{{.Count}}]
            {{end}}
            ]);

          var options_version = {
            title: 'version distribution',
            sliceVisibilityThreshold: '0.01'
          };

          var chart_version = new google.visualization.PieChart(document.getElementById('piechart_version'));
          function versionSelectHandler() {
            var selectedItem = chart_version.getSelection()[0];
            if (selectedItem) {
              var topping = data_version.getValue(selectedItem.row, 0);
              filter('project_app',topping)

            }
          }
          google.visualization.events.addListener(chart_version, 'select', versionSelectHandler);  
          chart_version.draw(data_version, options_version);
          //device
          var data_channel = google.visualization.arrayToDataTable([
            ['Device','Crash']
            {{range .DeviceStats}}
            ,['{{.Name}}',{{.Count}}]
            {{end}}
            ]);

          var options_channel = {
            title: 'device distribution',
            sliceVisibilityThreshold: '0.01'
          };

          var chart_channel = new google.visualization.PieChart(document.getElementById('piechart_channel'));
          // function channelSelectHandler() {
          //     var selectedItem = chart_channel.getSelection()[0];
          //     if (selectedItem) {
          //       var topping = data_channel.getValue(selectedItem.row, 0);
          //       filter('project_ch',topping)

          //     }
          //   }
         // google.visualization.events.addListener(chart_channel, 'select', channelSelectHandler);  
         chart_channel.draw(data_channel, options_channel);
          //type
          var data_type = google.visualization.arrayToDataTable([
            ['Type','Crash']
            {{range .TypeStats}}
            ,['{{.Name}}',{{.Count}}]
            {{end}}
            ]);

          var options_type = {
            title: 'crash type distribution',
            sliceVisibilityThreshold: '0.01'
          };

          var chart_type = new google.visualization.PieChart(document.getElementById('piechart_type'));
          // function typeSelectHandler() {
          //     var selectedItem = chart_type.getSelection()[0];
          //     if (selectedItem) {
          //       var topping = data_type.getValue(selectedItem.row, 0);
          //       filter('project_type',topping)

          //     }
          //   }
          // google.visualization.events.addListener(chart_type, 'select', typeSelectHandler);  
          chart_type.draw(data_type, options_type);
        }
        </script>
      </head>
      <body>
        <div class="head">
          <div class="head-inner">
            <a href="/">all</a> &gt; <a href="/{{.Context}}/{{.App}}">{{.App}}</a>
          </div>
        </div>
        <table style="width:100%;border-bottom:solid 20px black;">
          <tr>
            <td style="width:50%;">
              <div id="chart_div" style="height:300px;"></div>
            </td>
            <td style="width:50%;">
              <div id="piechart_type" style="height: 300px;"></div>
            </td>
          </tr> 
          <tr>
            <td style="width:50%;">
              <div id="piechart_version" style="height: 300px;"></div>
            </td>
            <td style="width:50%;">
              <div id="piechart_channel" style="height: 300px;"></div>
            </td>
          </tr>   
        </table>

        <div class="content white">
          <div class="content-inner">
            <div style="border-bottom: solid 1px #EEE; padding: 20px 0 20px 0;">
              <form accept-charset="UTF-8" action="/{{.Context}}/{{.App}}" method="get">
                <div style="margin:0;padding:0;display:inline"></div>
                <select id="project_date" name="date">
                  <option value="">
                    Crash Date - Last 7 days
                  </option>
                  {{range .DateOpt}}
                  <script type="text/javascript">
                  // if (location.href.indexOf("date={{.}}")!=-1){
                    if({{.}}=={{$.Date}}){
                      document.write("<option value='{{.}}' selected='selected'>{{.}}</option>")
                    }else{
                      document.write("<option value='{{.}}' >{{.}}</option>")
                    }
                  </script>
                    {{end}}
                  </select>
                  <select id="project_app" name="version">
                    <option value="">
                      App Version - All
                    </option>
                    {{range .VersionOpt}}
                    <script type="text/javascript">
                  // if (location.href.indexOf("version={{.}}")!=-1){
                    if({{.}}=={{$.Version}}){
                      document.write("<option value='{{.}}' selected='selected'>{{.}}</option>")
                    }else{
                      document.write("<option value='{{.}}' >{{.}}</option>")
                    }
                     </script>
                        {{end}}
                      </select> <select id="project_ch" name="channel">
                      <option value="">
                        App Channel - All
                      </option>
                      {{range .ChannelOpt}}
                      <script type="text/javascript">
                    // if (location.href.indexOf("channel={{.}}")!=-1){
                      if({{.}}=={{$.Channel}}){
                        document.write("<option value='{{.}}' selected='selected'>{{.}}</option>")
                      }else{
                        document.write("<option value='{{.}}' >{{.}}</option>")
                      }
                     </script>
                      {{end}}
                    </select>

                          <input type="submit" value="Filter"/>
                        </form>
                      </div>
                      <div style="border-bottom: solid 1px #EEE; padding: 20px 0 20px 0;">
                        <h2>
                          Total: {{.Total}}
                        </h2>
                      </div>
                    {{range .CrashLog}}
                    <div class="crash-feature">
                      <div class="left">
                        <table>
                          <tbody>
                            <tr>
                              <td class="col1">
                                Type:
                              </td>
                              <td class="code">
                                {{.Name}}
                              </td>
                            </tr>
                            <tr>
                              <td class="col1">
                                Description:
                              </td>
                              <td class="code">
                                <a href="/crash?app={{$.App}}&context={{$.Context}}&date={{$.Date}}&version={{$.Version}}&channel={{$.Channel}}&md5={{.Md5}}" class="crash-link">{{.Description}}...</a>

                              </td>
                            </tr>
                            <tr>
                              <td class="col1">
                                &nbsp;
                              </td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="right">
                        <span>{{.Count}}</span>
                        <div style="text-align:right; margin-top: 20px; margin-right:1px"></div>
                      </div>
                      <div style="clear:both"></div>
                    </div>{{end}}
                      <div class="pagination" style="width=800px;word-break:break-all">
                        <script type="text/javascript">
                        var cur = {{.CurPage}}
                        var total ={{.TotalPage}}
                        var url = location.href
                        if (url.indexOf("page")!=-1){
                          url=url.replace(/page=\d+/,"page=")
                        }else if(url.indexOf("?")!=-1){
                          url=url+"&amp;page="
                        }else{
                          url=url+"?page="
                        }
                        for (var i=1;i<=total;i++){
                          if(i==cur){
                            document.write("<em class='current'>"+i+"<\/em>")
                          }else if(i<=3||total-i<=3||Math.abs(i-cur)<=3){
                            document.write("<a href='"+url+i+"'>"+i+"<\/a>")
                          }else if(Math.abs(i-cur)==4){
                            document.write("<em class='current'>...<\/em>")
                          }
                        }
                        </script>
                      </div>
                    </div>
                  </div><!--<a href="/charts">view charts</a>-->
                </body>
                </html>