/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

.pln{color:#000}@media screen{.str{color:maroon}.kwd{color:darkBlue}.com{color:grey}.typ{color:#2B91AF}.lit{color:maroon}.pun{color:black}.opn,.clo{color:#660}.tag{color:maroon}.atn{color:red}.atv{color:blue}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 16px;
  line-height: 22px;
  background: #000; }

p, ol, ul, td {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 16px;
  line-height: 22px; }

select, input {
  font-size: 26px; }

input[type="submit"] {
  display: block;
  margin-top: 16px; }

div, p {
  margin: 0; }

div.head {
  background-color: #000;
  color: white; }
  div.head div.head-inner {
    width: 800px;
    margin: 20px auto;
    color: #BBB;
    font-size: 26px; }
    div.head div.head-inner a {
      text-decoration: none;
      color: #FFF;
      font-size: 26px;
      line-height: 40px; }
    div.head div.head-inner a:hover {
      color: #BBB; }
    div.head div.head-inner span {
      color: #BBB;
      font-size: 26px;
      line-height: 40px; }

div.footer {
  background-color: #000;
  color: white;
  height: 80px;
  margin-top: 30px;
  padding-right: 20px;
  text-align: right; }
  div.footer div.footer-inner {
    width: 800px;
    margin: 0 auto;
    color: #555; }
    div.footer div.footer-inner a {
      color: #555; }
    div.footer div.footer-inner a:hover {
      color: #BBB; }

div.content {
  width: 800px;
  margin: 0 auto; }
  div.content div.content-header {
    background-color: #EEE;
    border-bottom: solid 1px silver;
    padding: 20px; }
  div.content div.content-inner {
    padding: 20px; }

div.white {
  background-color: white; }

div.crash-feature {
  background-color: white;
  border-bottom: solid 1px #CCC;
   }
  div.crash-feature div.left {
    float: left;
    width: 620px; }
    div.crash-feature div.left table tr td a {
      font-weight: bold; }
  div.crash-feature div.right {
    float: right;
    width: 100px;
    padding-top: 10px; }
    div.crash-feature div.right span {
      text-align: right;
      width: 100px;
      display: block;
      color: #DE4206;
      font-size: 30px; }

td.col1 {
  width: 130px;
  vertical-align: top; }

td.code {
  font-family: monaco;
  font-size: 10px; }

div.crash {
  margin-top: 10px;
  padding-bottom: 30px; }
  div.crash div.detail {
    margin-left: 12px; }

pre {
  background-color: #EEF0EB;
  padding: 20px;
  margin: 0;
  font-size: 14px;
  font-family: monaco;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

a {
  color: #43318F; }
  a.grey {
    color: #BBB; }
  a:visited {
    color: #778087; }
  a:hover {
    color: #DE4206; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }

.pagination {
  margin: 20px 0 20px 0;
  text-align: left; }

.disabled {
  color: #D0D0D0; }

.pagination a, .pagination span {
  line-height: 60px;
  padding: 8px 10px;
  margin-right: 5px;
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  text-decoration: none; }

.pagination a:hover {
  background-color: #EEE; }

.pagination em {
  margin: 0px 10px; }

div.project {
  padding: 20px;
  border-bottom: solid 1px #EEE; }
  div.project a {
    font-size: 24px;
    font-weight: bold; }
